.contacts {
    justify-content: center;
    gap: 7rem;
    padding-bottom: 9rem;
    padding-top: 8.1rem;
}
.follow {
    display: flex;
    flex-direction: column;
    gap: 4rem;
    align-items: flex-start;
}
.follow__title {
    font-size: 3.2rem;
    font-weight: 400;
    line-height: 4.3rem;
    color: var(--mainTextColor);
}
.follow__text {
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 2.7rem;
    color: rgba(68, 66, 64, 1);
}
.follow__text > b {
    color: var(--mainTextColor);
    font-weight: 700;
}
.icons {
    display: flex;
    gap: 1.8rem;
    align-items: center;
}
.follow__icons {
    margin-top: 11.8rem;
}
.contacts__grid {
    display: grid;
    grid-template-areas: "grid1 grid3"
                        "grid2 grid3";
      grid-template-columns: 1fr 1.5fr;
      grid-template-rows: 1fr 0.1fr;
      grid-column-gap: 1rem;
}
.grid1 {
    grid-area: grid1;
}
.grid2 {
    grid-area: grid2;
}
.grid3 {
    grid-area: grid3;
}
@media (max-width: 849px) {
    .contacts__grid {
        display: none;
    }
    .follow__icons {
        margin-top: 5.8rem;
    }
}